@model IEnumerable<Projet_Quiz_En_Ligne.Models.Question>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

<div class="container-fluid mx-auto">
    <div class="row m-t-30">
        <div class="col-md-12">
            <div class="my-5">
                <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                    <i class="zmdi zmdi-plus">@Html.ActionLink("Ajouter une question", "Create")</i>
                </button>
            </div>
            <div class="table-responsive m-b-40">
                <table class="table table-borderless table-data3">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Quiz.Sujet)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.QstText)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsMultiple)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NumOrder)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quiz.Sujet)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QstText)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsMultiple)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumOrder)
                            </td>
                            <td>
                                <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                    <i class="zmdi zmdi-edit">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    </i>
                                </button>
                                <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                    <i class="zmdi zmdi-more">
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    </i>
                                </button>
                                <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                    <i class="zmdi zmdi-delete">
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </i>
                                </button>
                            </td>
                        </tr>
                    }

                </table>
            </div>

            <div aria-label="user-data__footer">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="/Questions/Index?page=@ViewBag.PreviousPage"><i class="fas fa-backward"></i></a></li>
                    <li class="page-item"><a class="page-link" href="#">@ViewBag.Page</a></li>

                    <li class="page-item"><a class="page-link" href="/Questions/Index?page=@ViewBag.NextPage"><i class="fas fa-forward"></i></a></li>
                </ul>
            </div>
            <div class="user-data__footer">
                <div class="au-btn au-btn-load">
                    Page @ViewBag.Page sur @ViewBag.Totales
                </div>

            </div>
        </div>
        </div>
    </div>

