@using Projet_Quiz_En_Ligne.ViewModel;
{
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Bienvenue dans notre ProjetQuizz</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="~/Content/assets/css/main.css" />
    <link rel="stylesheet" href="~/Content/assets/Css2T/T2.CSS" />


    <noscript><link rel="stylesheet" href="~/Content/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

    <!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul class="navbar-header" style="float:right !important">
                    @Html.ActionLink("Accueil", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                    @if (Session["User"] != null)
                    {
                        UserResultViewModel us = new UserResultViewModel();
                        us = (UserResultViewModel)Session["User"];
                        <li><p margin-top:15px;">Hello @us.Name</p></li>
                        @Html.ActionLink("Deconnexion", "Logout", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                        @*@Html.ActionLink("Admin", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })*@
                        if(us.IsAdmin)
                        {
                            @Html.ActionLink("Admin", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                        }
                    }
                    else
                    {
                        @Html.ActionLink("Connexion", "Login", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Inscription", "Signup", "Admin", new { area = "" }, new { @class = "navbar-brand" })

                    }

                    @Html.ActionLink("Contact", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Commencer un quiz", "Quiz", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </ul>
            </nav>
        </div>
    </section>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <h1>Quiz Dawan</h1>
                <p>
                    Testez vos compétences en programmation<br />
                    <strong>HTML_CSS_JS_C#</strong>
                </p>
                <ul class="actions">
                    <li><a href="Quiz/Home" class="button scrolly">Commencer le quiz</a></li>
                </ul>
            </div>
        </section>
        <!-- Two -->
        <section id="two" class="wrapper style3 fade-up">
            <div class="inner">
                <h2>Qui sommes nous</h2>
                <p>Nous sommes un groupe de programmeurs .NET qui ont également de l'expérience en programmation <span>Full-Stack</span> </p>
                <div class="features">
                    <section>
                        <span class="icon solid major fa-code"></span>
                        <h3>Front-End</h3>
                        <p>
                            <strong>HTML-CSS-JS</strong> HTML5 est une structure site web ,Css c'est le style de site web, javascript permet de
                            créer du contenu mis à jour de façon dynamique, de contrôler le contenu multimédia
                        </p>
                    </section>
                    <section>
                        <span class="icon solid major fa-lock"></span>
                        <h3>Back-End</h3>
                        <p><strong>C#</strong> est un langage de programmation orientée objet, commercialisé par Microsoft depuis 2002 et destiné à développer sur la plateforme Microsoft .NET. </p>
                    </section>
                    <section>
                        <span class="icon solid major fa-cog"></span>
                        <h3>Base de données</h3>
                        <p>
                            Une base de données permet de stocker et de retrouver des données structurées, semi-structurées ou des données brutes ou de l'information
                            <a href="https://www.microsoft.com/fr-fr/sql-server/sql-server-downloads">(SQL)</a>.
                        </p>
                    </section>
                    <section>
                        <span class="icon solid major fa-desktop"></span>
                        <h3>Gérer dépôt github-gitLab</h3>
                        <p>
                            GitLab est une plate-forme de développement logiciel de bout en bout open source avec contrôle de version intégré, suivi des problèmes,
                            revue de code, CI/CD, etc.
                        </p>
                    </section>
                    <!--<section>
                            <span class="icon solid major fa-link"></span>
                            <h3>Urna quis bibendum</h3>
                            <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                        </section>
                        <section>
                            <span class="icon major fa-gem"></span>
                            <h3>Aliquam urna dapibus</h3>
                            <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                        </section>
                    </div>-->
                    <ul class="actions">
                        <li><a href="https://www.dawan.fr/" class="btn-btn">Commencez avec Dawan</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Three -->
        <section id="three" class="wrapper style1 fade-up">
            <div class="inner">
                <h2>Contactez nous</h2>

                <div class="split style1">
                    <section>
                        <form method="post" action="#">
                            <div class="fields">
                                <div class="field half">
                                    <label for="name">Nom</label>
                                    <input type="text" name="name" id="name" />
                                </div>
                                <div class="field half">
                                    <label for="email">Email</label>
                                    <input type="text" name="email" id="email" />
                                </div>
                                <div class="field">
                                    <label for="message">Message</label>
                                    <textarea name="message" id="message" rows="5"></textarea>
                                </div>
                            </div>
                            <ul class="actions">
                                <li><a href="" class="button submit">Envoyer</a></li>
                            </ul>
                        </form>
                    </section>
                    <section>
                        <ul class="contact">
                            <li>
                                <h3>Adresse</h3>
                                <span>
                                    75015 Paris<br />
                                    11 Rue Antoine Bourdelle<br />
                                    FRANCE
                                </span>
                            </li>
                            <li>
                                <h3>Email</h3>
                                <a href="#">alex.stiphan101@gmail.com</a>
                            </li>
                            <li>
                                <h3>Téléphone</h3>
                                <span>0105040808</span>
                            </li>
                            <li>
                                <h3>Social</h3>
                                <ul class="icons">

                                    <li><a href="https://twitter.com/dawanfrance" class="fa fa-twitter" aria-hidden="true"><span class="label">Twitter</span></a></li>
                                    <li><a href="https://www.facebook.com/DawanFrance" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                                    <li><a href="https://github.com/Fatimata-dev/Projet-Quiz-En-Ligne/tree/Aladdin-Dev" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                                    <!--<li><a href="" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>-->
                                    <li><a href="https://www.linkedin.com/company/dawan/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </section>

    </div>

    <!-- Footer -->
    <footer id="footer" class="wrapper style1-alt">
        <div class="inner">
            <ul class="menu">
                <li><strong> &copy; Dawan</strong> </li>

            </ul>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/Content/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/Content/assets/js/browser.min.js"></script>
    <script src="~/Content/assets/js/breakpoints.min.js"></script>
    <script src="~/Content/assets/js/util.js"></script>
    <script src="~/Content/assets/js/main.js"></script>
    <script src="https://kit.fontawesome.com/45e38e596f.js" crossorigin="anonymous"></script>

</body>
</html>

