@using Projet_Quiz_En_Ligne.ViewModel;
@{

    UserResultViewModel us = new UserResultViewModel();
    if (Session["User"] != null)
    {
        us = (UserResultViewModel)Session["User"];
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Tables</title>

    <!-- Fontfaces CSS-->
    <link href="~/Content/Admin/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Content/Admin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Content/Admin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Content/Admin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/Content/Admin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/Content/Admin/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/Content/Admin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Content/Admin/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/Content/Admin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Content/Admin/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/Content/Admin/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Content/Admin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/Content/Admin/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        @*<a class="logo" href="index.html">
                                <img src="images/icon/logo.png" alt="CoolAdmin" />
                            </a>*@
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <li>
                        @Html.ActionLink("Acceuil  ", "Index", "Home")
                    </li>
                    @*<img src="images/icon/logo.png" alt="Cool Admin" />*@
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Acceuil Admin
                            </a>
                        </li>

                        <li>
                            @Html.ActionLink("Quizs", "Index", "Quizs")
                        </li>
                        <li>
                            @Html.ActionLink("Questions", "Index", "Questions")
                        </li>
                        <li>
                            @Html.ActionLink("Categories", "Index", "Categories")
                        </li>
                        <li>
                            @Html.ActionLink("Reponses  ", "Index", "Reponses")
                        </li>
                        <li>
                            @Html.ActionLink("Utilisateurs  ", "Index", "Admin")
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            @*<div class="page-container">*@
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid my-5">
                        <div class="header-wrap">
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="image">
                                        <a class="js-acc-btn" href="#">@us.Name</a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="content">
                                               <h5 class="name">
                                                    <a href="#">@us.Name</a>
                                                </h5>
                                                <span class="email">@us.Email</span>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__footer">
                                            <a href="#">
                                                @Html.ActionLink("Parametres du compte", "Edit", "Admin")
                                            </a>
                                            <a href="#">
                                                @Html.ActionLink("Déconnexion", "Logout", "Admin")
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            @RenderBody()
            @*</div>*@

            <!-- Jquery JS-->
            <script src="~/Content/Admin/vendor/jquery-3.2.1.min.js"></script>
            <!-- Bootstrap JS-->
            <script src="~/Content/Admin/vendor/bootstrap-4.1/popper.min.js"></script>
            <script src="~/Content/Admin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
            <!-- Vendor JS       -->
            <script src="~/Content/Admin/vendor/slick/slick.min.js">
            </script>
            <script src="~/Content/Admin/vendor/wow/wow.min.js"></script>
            <script src="~/Content/Admin/vendor/animsition/animsition.min.js"></script>
            <script src="~/Content/Admin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
            </script>
            <script src="~/Content/Admin/vendor/counter-up/jquery.waypoints.min.js"></script>
            <script src="~/Content/Admin/vendor/counter-up/jquery.counterup.min.js">
            </script>
            <script src="~/Content/Admin/vendor/circle-progress/circle-progress.min.js"></script>
            <script src="~/Content/Admin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
            <script src="~/Content/Admin/vendor/chartjs/Chart.bundle.min.js"></script>
            <script src="~/Content/Admin/vendor/select2/select2.min.js">
            </script>

            <!-- Main JS-->
            <script src="~/Content/Admin/js/main.js"></script>
        </div>
    </div>
</body>
</html>


