@model Projet_Quiz_En_Ligne.ViewModel.UserResultViewModel
    
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="~/Content/User/images/icons/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="~/Content/User/vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/User/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/User/vendor/animate/animate.css">

    <link rel="stylesheet" type="text/css" href="~/Content/User/vendor/css-hamburgers/hamburgers.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/User/vendor/select2/select2.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/User/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/User/css/main.css">

    <meta name="robots" content="noindex, follow">
</head>

<body>
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="login100-pic js-tilt" data-tilt>
                        <img src="~/Content/User/images/img-01.png" alt="IMG">
                    </div>
                    <form method="post" class="login100-form validate-form">
                        <span class="login100-form-title">
                            Creer un compte
                        </span>
                        @Html.ValidationMessageFor(m => m.Name)
                        <div class="wrap-input100 validate-input" data-validate="Veillez saisir votre nom">
                            <input class="input100" type="text" name="Name" placeholder="Nom">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(m => m.Email)
                        <div class="wrap-input100 validate-input" data-validate="format email invalid">
                            <input class="input100" type="text" name="Email" placeholder="Email">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(m => m.Password)
                        <div class="wrap-input100 validate-input" data-validate="Mot de passe obligatoire">
                            <input class="input100" type="password" name="Password" placeholder="Password">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(m => m.IsAdmin)
                        <div class="checkbox">
                            Is Admin
                            <input class="checkbox" type="checkbox" value="IsAdmin">
                        </div>
                        <div class="container-login100-form-btn">
                            <button type="submit" class="login100-form-btn">
                                Créer
                            </button>
                        </div>
                        <div class="text-center p-t-136">
                            <a class="txt2">
                                @Html.ActionLink("J'ai deja un compte", "Login", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="ontainer-login100-form-btn">
                            <button class="login100-form-btn">
                                @Html.ActionLink("Accueil", "Index", "Home")
                            </button>
                        </div>
                    </form>

                    
                </div>
            </div>
        </div>

        <script src="~/Content/User/vendor/jquery/jquery-3.2.1.min.js"></script>

        <script src="~/Content/User/vendor/bootstrap/js/popper.js"></script>
        <script src="~/Content/User/vendor/bootstrap/js/bootstrap.min.js"></script>

        <script src="~/Content/User/vendor/select2/select2.min.js"></script>

        <script src="~/Content/User/vendor/tilt/tilt.jquery.min.js"></script>

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>

        <script src="js/main.js"></script>
        <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"6c28bce0be5d32c8","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.12.0","si":100}' crossorigin="anonymous"></script>
    </body>
</html>



    

