@model Projet_Quiz_En_Ligne.Models.Quiz

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="main-content page-container">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center title-2">Suppression</h3>
                            </div>
                            <hr>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Sujet)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Sujet)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Image)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Image)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Category)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Category)
                                </dd>

                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="user-data__footer">
                                    <input type="submit" value="Delete" class="au-btn au-btn-load" /> |
                                    <button class="au-btn au-btn-load">@Html.ActionLink("Retour", "Index")</button>
                                </div>

                            }
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

